body {
    background-image: url("paper.gif");
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: black;
    text-align: center;
    font-family: verdana;
    font-size: 20px;
}

